Repository NOAA-GFDL/MDTF-diagnostics, pull requests merged in 2021-12, with the labels that each got.

#293 Feature/ocean flux matrix (New POD)
  diagnostics/ocn_surf_flux_diag/doc/ocn_surf_flux_diag.rst
  diagnostics/ocn_surf_flux_diag/groupby_variables.py
  diagnostics/ocn_surf_flux_diag/model_read.py
  diagnostics/ocn_surf_flux_diag/obs_data_read.py
  diagnostics/ocn_surf_flux_diag/ocn_surf_flux_diag.html
  diagnostics/ocn_surf_flux_diag/ocn_surf_flux_diag.py
  diagnostics/ocn_surf_flux_diag/settings.jsonc
Labels: diagnostic

#300 Feature/ocean flux matrix (merged POD update on rst)
  diagnostics/ocn_surf_flux_diag/doc/ocn_surf_flux_diag.rst
Labels: diagnostic

#301 Add pods to ci
  .github/workflows/mdtf_tests.yml
  diagnostics/mixed_layer_depth/mixed_layer_depth.py
  diagnostics/ocn_surf_flux_diag/ocn_surf_flux_diag.py
  src/conda/_env_synthetic_data.yml
  src/conda/env_python3_base.yml
  tests/github_actions_test_macos_set3.jsonc
  tests/github_actions_test_ubuntu_set3.jsonc
Labels: framework, testing-CI

#302 Sync main branch with develop branch
  .github/workflows/mdtf_tests.yml
  diagnostics/mixed_layer_depth/mixed_layer_depth.py
  diagnostics/ocn_surf_flux_diag/doc/ocn_surf_flux_diag.rst
  diagnostics/ocn_surf_flux_diag/ocn_surf_flux_diag.py
  src/conda/_env_synthetic_data.yml
  src/conda/env_python3_base.yml
  tests/github_actions_test_macos_set3.jsonc
  tests/github_actions_test_ubuntu_set3.jsonc
Labels: diagnostic, framework, testing-CI
