Repository NOAA-GFDL/MDTF-diagnostics, pull requests merged in 2023-03, with the labels that each got.

#450 Fix bug in xr_parser reconcile_scalar_value_and_coords
  src/xr_parser.py
Labels: bug, framework

#448 TC MSE POD Proposal for Incorporation into NOAA's Repo
  diagnostics/TC_MSE/Binning_and_compositing.py
  diagnostics/TC_MSE/Plotting.py
  diagnostics/TC_MSE/Plotting_Functions.py
  diagnostics/TC_MSE/TC_MSE.html
  diagnostics/TC_MSE/TC_MSE_Driver.py
  diagnostics/TC_MSE/TC_snapshot_MSE_calc.py
  diagnostics/TC_MSE/doc/Box_Average_Plot.jpg
  diagnostics/TC_MSE/doc/TC_MSE.rst
  diagnostics/TC_MSE/doc/TC_MSE_predigested_code.tar
  diagnostics/TC_MSE/settings.jsonc
Labels: diagnostic

#453 esm intake catalog builder tool
  tools/catalog_builder/catalog_builder.py
  tools/catalog_builder/doc/catalog_builder.rst
  tools/catalog_builder/examples/cmip/esm_catalog_IPSL-CM6A-LR-INCA_historica_r1i1p1f1.csv
  tools/catalog_builder/examples/cmip/esm_catalog_IPSL-CM6A-LR-INCA_historica_r1i1p1f1.json
  tools/catalog_builder/examples/templates/catalog_builder_slurm.csh
  tools/catalog_builder/examples/templates/example_builder_config.yml
Labels: tool

#454 Update cmor tables
  data/cmip6-cmor-tables/.circleci/config.yml
  data/cmip6-cmor-tables/README.md
  data/cmip6-cmor-tables/Tables/CMIP6_CV.json
  data/cmip6-cmor-tables/scripts/CMIP6_CV_cron_github.sh
  data/cmip6-cmor-tables/scripts/createCMIP6CV.py
  src/tests/test_cmip6.py
Labels: framework
