Repository NOAA-GFDL/MDTF-diagnostics, pull requests merged in 2024-10, with the labels that each got.

#694 add escape brackets to command-line commands
  src/environment_manager.py
Labels: framework

#696 add ua200-850 and va200-850 to gfld-cmor-tables
  data/gfdl-cmor-tables/gfdl_to_cmip5_vars.csv
Labels: fieldlist

#697 add ice/ocean precip entries to GFDL fieldlist
  data/fieldlist_GFDL.jsonc
Labels: fieldlist

#699 Add alternate standard names entry to fieldlists and varlistEntry objects
  data/fieldlist_CMIP.jsonc
  data/fieldlist_GFDL.jsonc
  src/data_model.py
  src/preprocessor.py
  src/translation.py
  src/varlist_util.py
Labels: framework, fieldlist, data catalogs
