Repository NOAA-GFDL/MDTF-diagnostics, pull requests merged in 2025-03, with the labels that each got.

#754 add return statements to catalog_builder/parsers.py
  tools/catalog_builder/parsers.py
Labels: bug, tool, data catalogs

#756 change monthly units assigned by datelabel from 'mo' to 'mon'
  src/util/datelabel.py
Labels: framework

#757 add alternate name for rsds in CMIP fieldlist
  data/fieldlist_CMIP.jsonc
Labels: fieldlist

#746 i,j to lat lon
  src/preprocessor.py
  src/xr_parser.py
Labels: bug

#760 fix implementation of overwrite flag in src/output_manager.py
  src/output_manager.py
  src/util/path_utils.py
Labels: framework

#763 Mjo date fix
  diagnostics/MJO_suite/daily_netcdf.ncl
  src/preprocessor.py
Labels: diagnostic, framework

#764 Debug giss
  diagnostics/precip_buoy_diag/settings.jsonc
  doc/sphinx/dev_cheatsheet.rst
  doc/sphinx/dev_git_intro.rst
  doc/sphinx/ref_cli.rst
  src/data_sources.py
  src/environment_manager.py
  src/preprocessor.py
  src/xr_parser.py
  templates/module_config.jsonc
  templates/module_config.yml
  templates/runtime_config.jsonc
  templates/runtime_config.yml
Labels: bug, framework, data catalogs

#765 Bump intake esm version
  src/conda/_env_synthetic_data.yml
  src/conda/conda_env_setup.sh
  src/conda/env_base.yml
  src/conda/env_base_micromamba.yml
  src/conda/env_dev.yml
  src/conda/env_python3_base.yml
  src/conda/env_python3_base_micromamba.yml
Labels: Conda/micromamba

#768 remove debugging print statement from preprocessor.py
  src/preprocessor.py
Labels: framework
